

<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <% if book.errors.any? %>
  <% book.errors.full_messages.each do |message| %>
    <%= message %>error
  <% end %>
<% end %>
  <div class="row">
    <div class="col-md-3">
<h2>User info</h2>
<table class="table">
  <tbody>
    <tr>
      <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", format: 'jpeg', size: "100x100" %>
    </tr>
    <tr>
      <th>name</th>
      <th><%= user.name %></th>
    </tr>
      <tr>
      <th>introduction</th>
      <th><%= user.introduction %></th>
    </tr>
    <tr>
      <th>follows</th>
      <th><%= link_to (user.followings.count), user_followings_path(user) %></th>
    </tr>
    <tr>
      <th>followers</th>
      <th><%= link_to (user.followers.count), user_followers_path(user) %></th>
    </tr>
    <th><% if user.id != current_user.id %>
    <% if current_user.following?(user) %>
    <%= link_to "フォローを外す", user_relationships_path(user.id), method: :delete, class: "btn btn-sm btn-info" %>
    <% else %>
    <%= link_to "フォローする", user_relationships_path(user.id), method: :post, class: "btn btn-sm btn-success" %>
    <% end %>
    <% end %></th>
    </tbody>
    </table>
    <div class="row">
      <%= link_to '', edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
    </div>



<h2>New book</h2>
<%= form_with model: book, local:true do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opnion</p>
<%= f.text_area :body %>
<div>
  <%= f.submit 'Create Book' %>
</div>
<% end %>
</div>